.portfolio {
    padding-top: $padVert;
    padding-right: $padHor;
    padding-bottom: $padVert;
    padding-left: $padHor;
    z-index: 1;
    width: 100%;
    height: 100vh;
    min-height: $minH;
    max-height: $maxH;
    background-color: $prime;

    &__container {
        max-width: 1248px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__title {
        padding: 0 0 34px 34px;
        height: 10%;
    }
}


.card_01 {
    position: relative;
    margin-bottom: 48px;
    width: 100%;
    height: 45%;
    border-radius: 8px;
    background: $tp;
    transition: all 500ms ease-in-out;
    transform: translate3d(0px, 50px, 0);
    opacity: 0;

    &__wrapper {
        background: right no-repeat url(../img/card01_bg.png), linear-gradient(89.42deg, #FFFFFF 33.23%, rgba(255, 255, 255, 0) 46.49%);
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
    }

    &__description {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__title {
        margin-bottom: 56px;
    }

    &__image {
        width: 50%;
        padding: 32px 100px;

        img {
            width: 100%;

        }
    }
}

.card_02 {
    position: relative;
    width: 100%;
    height: 45%;
    border-radius: 8px;
    background: $tp;
    transition: all 500ms ease-in-out;
    transform: translate3d(0px, 50px, 0);
    opacity: 0;

    &__wrapper {
        background: linear-gradient(270deg, #009FAB -18.91%, #FFFFFF 95.35%);
        width: 100%;
        height: 100%;
        padding: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
    }

    &__description {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: right;
    }

    &__title {
        margin-bottom: 56px;
    }

    &__image {
        width: 50%;
        padding: 32px 100px;

        & img {

            width: 100%;

        }
    }
}